body{
    /* background-color: rgb(128, 128, 128); */
    background-image: url("./assets/breakdown_1.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}

.mytext{
    font-weight: 700;
    color: aqua;
}
.right-side-items{
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}